<div class="card text-center w-60 mt-3 border-info" [routerLink]="['/match/',match.id]" > 
 
  <div class="card-body">
    <h6 class="card-title">{{match.startTime}}</h6>
    <h3 class="card-text"><span class="lewa">{{match.team1}}</span><span class="prawa">{{match.team2}}</span></h3>
    <h4 class="card-text mt-5 ml-2 mp-2"><span class="lewa">{{procentageOnTeam1 | number:'1.2-2'}}%</span><span class="prawa">{{procentageOnTeam2 | number:'1.2-2'}}%</span></h4>
    <p class="card-text">{{match.winner}}</p>
  </div>
</div>